* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "GT Alpina";
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

.container {
  padding: 20px 40px;
}

.title {
  display: block;
}

.title--primary {
  font-family: "GT Alpina";
  font-weight: 100;
  letter-spacing: 20px;
  line-height: 1.4;
  font-size: 90px;
  color: #f7f4f2;
  margin-bottom: -12px;
  padding: 0 20px;
}

.title--hero-sub {
  color: #f7f4f2;
  font-size: 40px;
  font-family: "GT Alpina";
  font-weight: 300;
  letter-spacing: 5px;
  line-height: 1.5;
}

.title--card {
  color: #3b3b3b;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: 3px;
}

.title--sponsor {
  font-weight: 100;
  letter-spacing: 0;
  line-height: 1.4;
  color: #3b3b3b;
  font-size: 16px;
}

.text {
  color: #9c9c9c;
  font-size: 1.3rem;
  line-height: 1.4;
}

.text--slide {
  text-align: center;
  color: #3b3b3b;
  font-size: 1.8rem;
  padding: 20px 60px;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1;
}

.text--slide::before {
  content: open-quote;
}

.text--slide::after {
  content: close-quote;
}

.text--slide-sub {
  text-align: center;
  margin-bottom: 40px;
}

.text--footer {
  font-size: 20px;
  color: #9c9c9c;
}

.text--link {
  color: #9c9c9c;
  font-weight: 600;
  font-style: italic;
}

.btn {
  border: none;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.5;
}

.btn--primary {
  background-color: #fff;
  border: 1px solid #fff;
  color: #3b3b3b;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn--primary:hover {
  background-color: transparent;
  color: #fff;
}

.btn--secondary {
  background-color: transparent;
  color: #3b3b3b;
  border: 2px solid #d3d3d3;
}

.btn--secondary:hover {
  border: 2px solid #3b3b3b;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header__logo {
  height: 30px;
  width: 30px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__cart {
  height: 25px;
  width: 25px;
}

.header__menu {
  height: 25px;
  width: 25px;
}

.header__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 20%;
  background-color: #f7f4f2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  padding: 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in;
  transition: -webkit-transform .5s ease-in;
  transition: transform .5s ease-in;
  transition: transform .5s ease-in, -webkit-transform .5s ease-in;
}

@media screen and (max-width: 768px) {
  .header__sidebar {
    width: 40%;
  }
}

.header__sidebar--item {
  list-style: none;
  text-transform: uppercase;
}

.header__sidebar--link {
  color: #3b3b3b;
  text-decoration: none;
}

.header__sidebar--ximg {
  width: 30px;
  height: 30px;
}

.header__sidebar--xlist {
  position: absolute;
  top: 3%;
  right: 3%;
  list-style-type: none;
}

.sidebar-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media screen and (max-width: 768px) {
  .sidebar-active {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}

.hero {
  background-image: url(../image/hero.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 80vh;
  position: relative;
}

.hero__wrap {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.hero__scrol {
  margin-top: 60px;
  width: 50px;
  height: 50px;
}

.wedding {
  background-image: url(../image/wedding.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 40px;
  max-height: 450px;
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wedding__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px;
  row-gap: 90px;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background-color: #f7f4f2;
}

.about__col-1, .about__col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

.card--primary {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__img {
  width: 100%;
  height: 100%;
}

.card__img--primary {
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  padding: 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.card__text--secondary {
  margin: 0 20px;
}

.card--secondary, .card--tertiary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media screen and (max-width: 768px) {
  .card--secondary, .card--tertiary {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .card--tertiary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f4f2;
}

.sponsor {
  background-color: #f7f4f2;
}

.sponsor__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sponsor__gallery--img {
  -o-object-fit: contain;
     object-fit: contain;
}

.slide {
  background-color: #f4f1ee;
  padding: 60px 0;
}

.footer {
  background-color: #f7f4f2;
  width: 100%;
  border-top: 1px solid #d3d3d3;
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  grid-column-gap: 10px;
  padding: 20px 0;
}

@media screen and (max-width: 768px) {
  .footer__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

.footer__form {
  position: relative;
  width: 100%;
  border: 1px solid #d3d3d3;
}

.footer__form--input {
  height: 40px;
  border: none;
  margin-left: 10px;
  width: 100%;
  background-color: transparent;
}

.footer__form--btn {
  position: absolute;
  right: 10px;
  top: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background-color: transparent;
}

.footer__col-2, .footer__col-3, .footer__col-4, .footer__col-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.footer__col-3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #d3d3d3;
  background-color: #f7f4f2;
  padding: 30px;
}
/*# sourceMappingURL=main.css.map */